modules = ["nodejs-20", "python-3.11", "bash", "web", "python3"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["bzip2", "c-blosc", "cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "hdf5", "imagemagickBig", "libxcrypt", "lzo", "openssh", "pkg-config", "qhull", "sox", "tcl", "tcpdump", "tk", "wireshark", "xsimd"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 4200

[[ports]]
localPort = 36981
externalPort = 3001

[[ports]]
localPort = 40577
externalPort = 3002

[[ports]]
localPort = 43351
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Development Server"
author = 41504669
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "L1 System"

[[workflows.workflow]]
name = "L1 System"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start_servers.sh"
waitForPort = 5000

[agent]
expertMode = true
